@mixin anim-duration-1000() {
  transition: theme('transitionProperty.DEFAULT');
  transition-duration: theme('transitionDuration.1000');
  transition-timing-function: theme('transitionTimingFunction.in-out');
}

@mixin anim-duration-300() {
  transition: theme('transitionProperty.DEFAULT');
  transition-duration: theme('transitionDuration.300');
  transition-timing-function: theme('transitionTimingFunction.in-out');
}

@mixin return-anim-duration-1000() {
  -webkit-transition: 1000ms ease-in-out;
  -moz-transition: 1000ms ease-in-out;
  -o-transition: 1000ms ease-in-out;
}

@mixin return-anim-duration-300() {
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
}