@use 'sass:math';

@mixin anim-duration-1000() {
  transition: theme('transitionProperty.DEFAULT');
  transition-duration: theme('transitionDuration.700');
  transition-timing-function: theme('transitionTimingFunction.in-out');
}

@mixin anim-duration-300() {
  transition: theme('transitionProperty.DEFAULT');
  transition-duration: theme('transitionDuration.300');
  transition-timing-function: theme('transitionTimingFunction.in-out');
}

@mixin return-anim-duration-1000() {
  -webkit-transition: 1000ms ease-in-out;
  -moz-transition: 1000ms ease-in-out;
  -o-transition: 1000ms ease-in-out;
}

@mixin return-anim-duration-300() {
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
}

@mixin typing-text() {
  animation: 
  typing 3.5s steps(35, end),
  blink-caret .75s step-end infinite;
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FFAF0F }
  }
}

@mixin shadow() {
  -webkit-mask-image: linear-gradient(90deg, transparent, #181818 20%, #181818 80%, transparent);
}

@mixin horizontal-scroll() {
  animation: scroll 100s linear infinite;
  @keyframes scroll {
    0% { transform: translateX(0%) }
    100% { transform: translate3d(-100%, 0, 0) }
  }
}

@mixin section-title() {
  @apply
  w-full
  h-fit
  text-center
  text-7xl
  uppercase
  tracking-wider
  font-myTitleFont
  font-black
  text-myTheme-dark
  cursor-default;
}