$main-bg-color: theme('backgroundColor.neutral.100');
$secons-bg-color: theme('backgroundColor.emerald.800');

$main-text-color: theme('textColor.emerald.950');
$second-text-color: theme('textColor.emerald.900');
$third-text-color: theme('textColor.neutral.100');
$fourth-text-color: theme('textColor.gray.900');

$accent-text-color: theme('textColor.orange.400');