$main-bg-color: theme('backgroundColor.emerald.950');
$secons-bg-color: theme('backgroundColor.emerald.600');

$main-text-color: theme('textColor.neutral.300');
$second-text-color: theme('textColor.neutral.100');
$accent-text-color: theme('textColor.orange.400');